/.idea/
/data/builds/
/target/
/test/
/data/builds.zip
/data/buildroot
/data/all_elfs.zip
/data/random-fragments
/src/test/resources/all_elfs.zip
/src/test/resources/*
/src/main/resources/coderec/*
/src/main/resources/application-local.properties
/data/manual-extension/
/data/LFwC/select_samples.py
/data/LFwC/
/data/openwrt/
/data/dataset/
/data/dataset.zip
/data/dataset_buildroot.zip
/data/dataset_LFwC.zip
/data/dataset_openwrt.zip
/data/evaluation/weight_and_threshold/train_busybox_128_minhash/
/data/evaluation/weight_and_threshold/train_busybox_512_minhash/
/data/evaluation/weight_and_threshold/visualisazion/exports_512_minhash/y_index_map.json
/data/evaluation/weight_and_threshold/visualisazion/exports_128_minhash/y_index_map.json
/data/evaluation/weight_and_threshold/visualisazion/exports_512_minhash/busybox_rep_stats.csv
/data/evaluation/weight_and_threshold/visualisazion/exports_512_minhash/busybox_scatter_data.csv
/data/evaluation/weight_and_threshold/visualisazion/exports_512_minhash/busybox_source_index_map.csv
/data/evaluation/weight_and_threshold/visualisazion/exports_128_minhash/busybox_source_index_map.csv
/data/evaluation/weight_and_threshold/visualisazion/exports_128_minhash/busybox_rep_stats.csv
/data/evaluation/weight_and_threshold/visualisazion/exports_128_minhash/busybox_scatter_data.csv
/data/evaluation/weight_and_threshold/weight_finding/backup/
/data/evaluation/test/all/
/data/evaluation/train/all/
/data/evaluation/train/preprocessed/
/data/evaluation/train/all_raw/
/data/evaluation/weight/preprocessed/
