/.idea/
/data/builds/
/target/
/test/
/data/builds.zip
/data/buildroot
/data/all_elfs.zip
/data/random-fragments
/src/test/resources/all_elfs.zip
/src/test/resources/*
/src/main/resources/coderec/coderec
/src/main/resources/coderec/coderec.exe
